
.crearActividad-container {
    width: 550px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
    margin-bottom: 30px;
}

.info textarea{
    width: 335px;
}

.descripcion {
    width: 100px;
    height: 50px;
    resize:vertical;
    font-size: 16px;
    font-family: 'Myanmar Khyay', sans-serif;
}