/* Estilo para el header */
.header {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB974;
    color: #1D3D4B;
    padding: 0 2rem;
    box-sizing: border-box;
}

.container-pages {
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 12vh;
    cursor: pointer;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh; 
    width: auto; 
    padding-top: 2vh; 
}

.container-user {
    height: 12vh;
    display: flex;
    font-size: 2vh;
    color: #1D3D4B;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10vw;
    padding: 0;
    text-decoration: none;
    width: auto;
}

.container-user:hover {
    text-decoration: underline;
}

.container-user:active {
    color: black;
}

/* Foto de perfil */
.user-logo {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid black;
    padding: 1px;
    background-color: #ffffff00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-logo:hover {
    transform: scale(1.1); /* Hace que el avatar se agrande un poquito */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}

/* Títulos de encabezado */
.header-titulos {
    text-decoration: none;
    color: #1D3D4B;
    font-size: 2vh;
    margin: 0 3vw;
}

.header-titulos:hover {
    text-decoration: underline;
}

.header-titulos:active {
    color: black;
}

.forum-button {
    background-color: #FFB974;
    color: #1D3D4B;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.forum-button:hover {
    background-color: #e6a65c;
}