.rutas-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-height: 70vh;
    padding: 3vh 4vw;
    background-color: antiquewhite;
}

.titulo-rutas1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Centering the title */
}

.ruta {
    border: 1px solid #606060;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem; /* Space between each route */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align items */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ruta:hover {
    border: 1.5px solid #3a3a3a;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.ruta-info {
    flex: 1;
}

.div-rutas-boton-reserva {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rutas-boton-reserva {
    width: 40%;
    align-self: center;
    justify-self: center;
}
