.perfil-container {
    width: 380px; 
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f9f9f9;
}

.perfil-foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #FFB974;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.perfil-foto:hover {
    transform: scale(1.1);
}

.info {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 10px;
    max-width: 350px; 
    margin-left: auto;
    margin-right: auto;
}

.dato {
    text-align: left;
    margin-bottom: 15px;
}

.dato label {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.dato p {
    font-size: 1rem;
    color: #555;
}

.editar-perfil {
    background-color: #FFB974;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editar-perfil:hover {
    background-color: #e68a2e;
}

.cerrar-sesion {
    background-color: #de3f3f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cerrar-sesion:hover {
    background-color: #aa1c1c;
}